body{ 
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}
.mainContainer{
  background-image: url(spacePic.jpg);
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  height: 35%;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(235, 235, 235);
  margin-top: 5pt;
}
h1{
  color: rgb(177, 167, 167);
  font-size: 36pt;
  
}
section{
  background-color: rgb(236, 236, 236);
  opacity: 95%;
  width: 30%;
  padding: 5pt;
}
h2{
  border-bottom: solid black 2pt;
}
p{
  display: flex;
  flex-direction: column;
}
ul{
  display: flex;
  flex-direction: column;
}
ls{
  margin: 2pt;
}
.MSG{
  padding-bottom: 60px;
}